/* Estilos globales para el cuerpo y la fuente */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo para toda la aplicación */
  }
  
  /* Contenedor principal */
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajuste el alto según sea necesario */
    padding: 20px;
  }
  
  /* Estilos para los botones */
  .button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .button:hover {
    background-color: #3700b3;
    transform: scale(1.05);
  }
  
  .button:active {
    background-color: #6200ea;
    transform: scale(0.95);
  }
  
  /* Estilos para los contenedores de tarjetas de personajes */
  .character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  /* Estilos para cada tarjeta de personaje */
  .character-item {
    width: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
  }
  
  .character-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .character-name {
    margin: 0;
    font-size: 1.2em;
    color: #333;
  }
  